*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    height: 900px;
    margin: auto;
    background-color:rgb(240, 241, 241);
    padding: 20px;
   
}
.click{
    background-color:rgb(191, 235, 191);
   
}
.click a{
    text-decoration: none;
}
#p1{
    color:dimgray;
    padding-top: 10px;
}
img{
    width: 400px;
    height: 300px;
    display: flex;
    
}
h3{
    padding-top: 10px;
}