*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    height: 1100px;
   
    background-color:rgb(231, 233, 233);
    align-content: space-evenly;
    margin: auto;
  
}
.container1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.container2{
    display: flex;
    justify-content: space-evenly;
    padding-top:  40px;
}
#item1{
    width: 300px;
    height: 350px;
    background-color: aliceblue;
}

 img{
    width: 300px;
    height: 200px;
}

#p1{
    padding: 10px;
    font-size: 20px;

}
#p2{
    padding: 10px;
    font-size: 15px;
    color: dimgray
}
#p3{
    padding-left: 110px;
}
#p4{
    padding-top: 30px;
    color: red;
}
#item1 a {
    text-decoration: none; /* Loại bỏ gạch chân */
    color: inherit; /* Đảm bảo màu sắc của liên kết giữ nguyên */
}
.container3{
    width: 1400px;
    height: 300px;
    display: flex;
    margin-top: 80px;
    background-color:rgb(71, 71, 233);
    justify-content: space-evenly;
    color:rgb(240, 233, 233)
    
}
#P6{
    font-family: sans-serif;

}
li{
    padding-top: 10px;
}
h3{
    padding-top: 60px;
}



