* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Phan tu cha */

.container {
    width: 1200px; 
    height: 1000px;
    background-color: pink;


    /* can giua phan tu */
    margin: auto;
    display: flex; 
    

    /* Xac dinh huong cua phan tu con */
    /* flex-direction: row-reverse; */

    /* flex-wrap phan tu con tu dong xuong hang khi phan tu con vuot qua mna hinh */
    /* flex-wrap: wrap; */

    /* justify-content can chinh pt theo hang*/
    /* justify-content: space-between; */

    /* aline-item can  chinh phan tu theo cot 
        Quan Trong*/
     /* align-items: center; */

    /* aline-content can chinh cac hang theo item */
     /* align-content: center;  */
}





/* Phan tu con */
.item-1 {
  width: 150px;
  height: 150px;
  background-color: red;
  font-size: 20px;
  color: white;
  /* order: 2; */
  flex-grow: 1;
}
.item-2 {
  width: 150px;
  height: 150px;
  background-color: blue;
  font-size: 20px;
  color: white;
  /* order: 3; */
  flex-grow: 1;
}
.item-3 {
  width: 150px;
  height: 150px;
  background-color: violet;
  font-size: 20px;
  color: white;
  /* order: 1; */
}
