 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.container{
    width: 500px;
    height: 500px;
    margin: auto;
}

 .q1  {
    width: 200px;
    height: 40px;
    color: #0f136d;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    display: flex;
   
    align-items: center;
}
 /* .q11{
    color: #0f136d;
}   */
.title1{
    margin:  0 0 0 20px;
}
.icon1{
    margin:  0 0 0 12px;
}
.icon{
    padding: 7px;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #757575;
    
}
ul {
    list-style-type: none;
}
.menu-item p{
    width: 200px;
    font-size: 13px;
    color: #757575;
    display: block;
    height: 27px;
    padding-left: 8px;
    z-index: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    text-decoration: none;
}
.menu-item:hover > p a {
    color:  rgb(243, 109, 0);
    
}
.border1{
    border: 1px solid #ccc;
}
.menu-item:hover > p .icon {
    display: inline-block;
    color:  rgb(243, 109, 0);
    
   
}
.menu-item:hover{
    background-color:#ECEFF1;
}
.q1:hover  {
    color:rgb(243, 109, 0); 
    
}
.q1:hover > .icon1{
    transform: rotate(180deg);
}


.menu-item p .icon {
    display: none;
}
.menu{
    position: relative;
    background-color: #fff;
   
}
.icon{
    font-size: 16px;
    margin-right: 5px;
}
.sub-menu{
    height: 100%;
    width: 200px;
    position: absolute;
    top: 40px;
    left: 0;
    display: none; 
   
  
}

.border1{
    border: 1px solid #ccc;
    z-index: 1;
}

.border2{
    border: 1px solid #ccc;
    width: 200px;
    height: 326px;
}

.title:hover .sub-menu {
     display: block;
} 
.menu-item1{
    position: relative;
    background-color: #fff;
}
.sub-menu2{
    height: 100%;
    width: 200px;
    position: absolute;
    top: -1px;
    left: 199px;
    display: none;  
    
}
.menu-item1:hover .sub-menu2{
    display: block;
}
.menu-item1{
    position: relative;
}
.sub-menu4{
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 199px;
    display: none;    
    
    
}
.menu-item3:hover .sub-menu4{
    display: block;
}
.sub-menu3{
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 199px;
    display: none;  
    
}
.menu-item4:hover .sub-menu3{
    display: block;
}